<%@ page language="java" contentType="text/html; charset=ISO-8859-1"
    pageEncoding="ISO-8859-1"%>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>HRHomePage</title>
</head>
<body bgcolor='lightyellow'>
			
		<% String emailId = (String) session.getAttribute("emailId");	%>		
		
		<form align='right'>
			<a href='HRHomePage.jsp'>Home</a> &nbsp;		
			<a href='Logout'>Logout</a>
		</form>
		
		<h3>Welcome: <%= emailId %>!</h3>
		
		<center>
		<h1 style='color:green'>Welcome to HRHomePage</h1>	
		<h3><a href='GetAllEmployees'>GetAllEmployees</a> &nbsp;&nbsp;
		<a href='GetEmployeeById.html'>GetEmployeeById</a></h3>
		</center>

</body>
</html>
