<!--For adding Glyphicons We are adding Bootstrap 3.4.1 CDN Link-->
<head>
    <link rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" 
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" 
    crossorigin="anonymous">
</head>


<h3 style="color: green;">Welcome: {{emailId}}!</h3>
<h1 align="center">Employees Data</h1> <br/>

<div class="container">
<table class="table table-bordered table-hover table-striped table-sm">
    <thead>
        <tr align="center">
            <th class="bg-info text-white">EmpId</th>
            <th class="bg-info text-white">EmpName</th>
            <th class="bg-info text-white">Salary</th>
            <th class="bg-info text-white">Gender</th>
            <th class="bg-info text-white">DOJ</th>
            <th class="bg-info text-white">Country</th>
            <th class="bg-info text-white">EmailId</th>
            <th class="bg-info text-white">Experience</th>

            <!-- Providing Actions Heading for Edit & Delete -->
            <th colspan="2" class="bg-info text-white">Actions</th> 
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let emp of employees">
            <td align="center"> {{emp.empId}} </td>
            <td align="left">   {{emp.empName | uppercase | gender:emp.gender}}</td>
            <td align="right">  {{emp.salary  | currency:'INR'}}</td>
            <td align="center"> {{emp.gender  | lowercase}}</td>
            <td align="center"> {{emp.doj     | date:'dd-MMM-yyyy'}}</td>
            <td align="center"> {{emp.country}}       </td>
            <td align="left">   {{emp.emailId}}       </td>
            <td align="center"> {{emp.doj     | exp}} </td>

            <!--Providing Edit & Delte Options using Glyphicons-->
            <td align="center"> <button (click)="editEmployee(emp)" class="glyphicon glyphicon-pencil"></button> </td>
            <td align="center"> <button (click)="deleteEmployee(emp.empId)" class="glyphicon glyphicon-trash"></button> </td>
        </tr>
    </tbody>
</table>
</div>



